@import '/styles/variables';

.templateEditor {
  display: grid;
  grid-template-columns: 300px auto;

  @media (max-width: $xs) {
    grid-template-columns: 1fr;
  }

  .sidePanel {
    display: flex;
    flex-direction: column;

    padding: 10px;

    input {
      width: 100%;
    }
  }

  .imageContainer {
    position: relative;
    background-color: white;

    width: 100%;
    height: calc(100vh - 100px);

    @media (max-width: $xs) {
      height: calc(100vh - 150px);
    }

    .productImag {
      position: absolute;
      width: 100%;
      top: 0;
    }
  }
}
