@import '/styles/variables';

.templateEditor {
  display: grid;
  grid-template-columns: 300px auto;
  grid-column-start: 0;

  @media (max-width: $xs) {
    grid-template-columns: 1fr;

    display: flex;
    flex-direction: column-reverse;
  }

  .sidePanel {
    display: flex;
    flex-direction: column;

    padding: 10px;

    input {
      width: 100%;
    }
  }
  .editorPreview {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 80px);

    @media (max-width: $md) {
      height: auto;
    }

    .imageContainer {
      position: relative;

      width: 100%;
      max-width: 600px;

      .productImag {
        position: absolute;
        width: 100%;
        top: 0;
      }
    }
  }
}
