.templateSVG1 {
  .st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
  }
  .st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #ffcc00;
  }
  .st2 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #ffffff;
  }
  .st3 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #e6e6e6;
  }
  .st5 {
    font-size: 44.1479px;
  }
  .st6 {
    fill: #e6e6e6;
  }
  .st7 {
    font-size: 48.1465px;
  }
  .st9 {
    font-size: 69.0523px;
  }
  .st10 {
    fill: #ffffff;
  }
  .st11 {
    font-size: 316.5066px;
  }
  .st12 {
    font-size: 160px;
  }
}
